{% set difference_now = date('-2days') < date(infection.dataPrzeslania) %}
<span class=uwagi>{{ infection.dataPrzeslania|date('Y-m-d H:i') }}</span> {% if difference_now %} <span class=label-success>nowe</span>{%endif %}
