<?php
<table>
	<form action="{{ filters_form_action }}" method="post">
		Raport: Miesiąc 
			{% if date is defined %}
				{% include 'filter-date-input.twig' with {'name' : 'date', 'value' : date} %}
			{% elseif dateFrom is defined and dateTo is defined %}
				od:{% include 'filter-date-input.twig' with {'name' : 'dateFrom', 'value' : dateFrom} %}
				do:{% include 'filter-date-input.twig' with {'name' : 'dateTo', 'value' : dateTo} %}
			{% endif %}
			
			<select onchange="this.form.submit()" name="wardId" class="selectpicker">
				<option value="null"></option>
				<option value="all"   
					{% if (wardId == "all") %} selected="selected"
					{% endif %}>wszystkie</option> {% for ward in wards %}
				<option value="{{ ward.id }}"           
				{% if (ward.id == wardId) %}
								selected="selected"           
				{% endif %}>{{ ward.name }}</option> {% endfor %}
			</select>
	</form>
</table>